
@media (max-width: 1281px) {
	.contacts__main {
		flex-direction: column;
	}

	.contacts__main_left {
		padding: 20px 0;
	}
	
	.products__item {
		width: 30%;
	}

	.products__image {
		width: 90%;
	}

	.catalog__products {
		justify-content: space-around;
	}

	.product,
	.product__info {
		flex-direction: column;
	}

	.product,
	.product__item_right  {
		gap: 20px;
		margin: 0;
	}

	.product__info {
		gap: 0;
	}

	.cart__header {
		grid-template-columns: 1fr 1fr 7fr 1fr 1fr 1fr 2fr;
	}

	.cart__item {
		grid-template-columns: 1fr 1fr 3fr 4fr 1fr 1fr 1fr 2fr;
	}
}

@media (max-width: 1153px) {
	.home__adv_btm {
		flex-wrap: wrap;
	}

	.home__adv_btm_item {
		width: 48%;
	}

	.product__item_img {
		width: 50%;
	}

	.product__title {
		font-size: 20px;
		line-height: 24px;
	}

	.product__desc {
		font-size: default;
		text-align: center;
	}
}

@media (max-width: 1025px) {
	.products__item {
		width: 48%;
		margin: 0;
	}

	.products__container_img {
		justify-content: center;
	}

	.products__image {
		width: 40%;
	}

	.products__container_content {
		align-items: center;
	}

	.products__btn_add {
		padding: 14px 14px;
	}
}

@media (max-width: 801px) {
	.home,
	.contacts {
		margin: 0;
	}

	.home__title,
	.home__adv_header_title,
	.contacts__header_title {
		font-size: 20px;
	}

	.home,
	.home__adv,
	.home__adv_header_title,
	.home__adv,
	.contacts,
	.contacts__header  {
		gap: 20px;
	}

	.home__descr, 
	.home__adv_header_descr,
	.contacts__header_desc  {
		font-size: 15px;
   		line-height: 25px;
	}

	.contacts__main,
	.contacts__main_left {
		flex-direction: column;
	}

	.products__item {
		width: 100%;
	}

	.cart__item {
		height: revert;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
	}

	.cart__title {
		text-align: center;
	}
	
	.cart__header {
		height: revert;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7, 1f);
	}
}

@media (max-width: 641px) {
	.header .container,
	.footer .container {
		flex-direction: column;
		gap: 30px;
	}

	.header__nav {
		width: auto;
	}

	.catalog__products {
		gap: 15px;
	}

	.home__title {
		text-align: center;
	}
}

@media (max-width: 426px) {
	.catalog__products {
		gap: 15px;
	}
	
	.products__image {
        width: 80%;
    }

	.home__adv_btm_item {
		width: 100%;
	}

	.product__item_img {
		width: 90%;
	}
}

@media (max-width: 376px) {
	.catalog__products {
		gap: 15px;
	}
	.products__item {
		width: 100%;
	}
}